{
  "pieces" : {
    "center" : {
      "textureSize" : [8, 8],
      "texturePosition" : [36, 0],
      "colorStride" : [0, 18],
      "variantStride" : [45, 0] },

    "cornerTL" : {
      "textureSize" : [8, 8],
      "texturePosition" : [0, 0],
      "colorStride" : [0, 18],
      "variantStride" : [45, 0] },
    "cornerTR" : {
      "textureSize" : [8, 8],
      "texturePosition" : [9, 0],
      "colorStride" : [0, 18],
      "variantStride" : [45, 0] },
    "cornerBL" : {
      "textureSize" : [8, 8],
      "texturePosition" : [0, 9],
      "colorStride" : [0, 18],
      "variantStride" : [45, 0] },
    "cornerBR" : {
      "textureSize" : [8, 8],
      "texturePosition" : [9, 9],
      "colorStride" : [0, 18],
      "variantStride" : [45, 0] },
      
    "straitHT" : {
      "textureSize" : [8, 4],
      "texturePosition" : [18, 9],
      "colorStride" : [0, 18],
      "variantStride" : [45, 0] },
    "straitHB" : {
      "textureSize" : [8, 4],
      "texturePosition" : [18, 13],
      "colorStride" : [0, 18],
      "variantStride" : [45, 0] },
    "straitVL" : {
      "textureSize" : [4, 8],
      "texturePosition" : [27, 0],
      "colorStride" : [0, 18],
      "variantStride" : [45, 0] },
    "straitVR" : {
      "textureSize" : [4, 8],
      "texturePosition" : [31, 0],
      "colorStride" : [0, 18],
      "variantStride" : [45, 0] },
      
    "innerTL" : {
      "textureSize" : [4, 4],
      "texturePosition" : [18, 0],
      "colorStride" : [0, 18],
      "variantStride" : [45, 0] },
    "innerTR" : {
      "textureSize" : [4, 4],
      "texturePosition" : [22, 0],
      "colorStride" : [0, 18],
      "variantStride" : [45, 0] },
    "innerBL" : {
      "textureSize" : [4, 4],
      "texturePosition" : [18, 4],
      "colorStride" : [0, 18],
      "variantStride" : [45, 0] },
    "innerBR" : {
      "textureSize" : [4, 4],
      "texturePosition" : [22, 4],
      "colorStride" : [0, 18],
      "variantStride" : [45, 0] },
      
    "outerTL" : {
      "textureSize" : [4, 4],
      "texturePosition" : [27, 9],
      "colorStride" : [0, 18],
      "variantStride" : [45, 0] },
    "outerTR" : {
      "textureSize" : [4, 4],
      "texturePosition" : [31, 9],
      "colorStride" : [0, 18],
      "variantStride" : [45, 0] },
    "outerBL" : {
      "textureSize" : [4, 4],
      "texturePosition" : [27, 13],
      "colorStride" : [0, 18],
      "variantStride" : [45, 0] },
    "outerBR" : {
      "textureSize" : [4, 4],
      "texturePosition" : [31, 13],
      "colorStride" : [0, 18],
      "variantStride" : [45, 0] },
      
    "representative" : {
      "textureSize" : [8, 8],
      "texturePosition" : [27, 9],
      "colorStride" : [0, 18],
      "variantStride" : [45, 0] }
  },

  "representativePiece": "representative",

  "rules" : {
    "EqualsSelf" : {
      "entries" : [ { "type" : "EqualsSelf" } ] },
    "NotEqualsSelf" : {
      "entries" : [ { "type" : "EqualsSelf",
                      "inverse" : true } ] },

    "Shadows" : {
      "entries" : [ { "type" : "Shadows" } ] },
    "NotShadows" : {
      "entries" : [ { "type" : "Shadows",
                      "inverse" : true } ] } },

  "matches" : [
    ["main", [
      { "matchAllPoints" : [[[-1,0],"NotEqualsSelf"],[[1,0],"NotEqualsSelf"],
                            [[0,-1],"NotEqualsSelf"],[[0,1] ,"NotEqualsSelf"]],
        "pieces" : [["representative",[0,0]]],
        "haltOnMatch" : true },
    
      { "matchAllPoints" : [[[-1,0],"NotEqualsSelf"],[[0,1],"NotEqualsSelf"],
                            [[0,-1],"EqualsSelf"   ],[[1,0],"EqualsSelf"   ]],
        "pieces" : [["cornerTL",[0,0]]],
        "haltOnMatch" : true,
        "subMatches" : [ { 
          "matchAllPoints" : [[[ 1,-1],"NotEqualsSelf"],[[0,-1],"EqualsSelf"],[[ 1,0],"EqualsSelf"]],
          "pieces" : [["innerBR",[4,0]]] } ] },
      { "matchAllPoints" : [[[1,0] ,"NotEqualsSelf"],[[0,1] ,"NotEqualsSelf"],
                            [[0,-1],"EqualsSelf"   ],[[-1,0],"EqualsSelf"   ]],
        "pieces" : [["cornerTR",[0,0]]],
        "haltOnMatch" : true,
        "subMatches" : [ {
          "matchAllPoints" : [[[-1,-1],"NotEqualsSelf"],[[0,-1],"EqualsSelf"],[[-1,0],"EqualsSelf"]],
          "pieces" : [["innerBL",[0,0]]] } ] },
      { "matchAllPoints" : [[[-1,0],"NotEqualsSelf"],[[0,-1],"NotEqualsSelf"],
                            [[0,1] ,"EqualsSelf"   ],[[1,0] ,"EqualsSelf"   ]],
        "pieces" : [["cornerBL",[0,0]]],
        "haltOnMatch" : true,
        "subMatches" : [ {
          "matchAllPoints" : [[[ 1,1],"NotEqualsSelf"],[[0, 1],"EqualsSelf"],[[ 1,0],"EqualsSelf"]],
          "pieces" : [["innerTR",[4,4]]] } ] },
      { "matchAllPoints" : [[[1,0],"NotEqualsSelf"],[[0,-1],"NotEqualsSelf"],
                            [[0,1],"EqualsSelf"   ],[[-1,0],"EqualsSelf"   ]],
        "pieces" : [["cornerBR",[0,0]]],
        "haltOnMatch" : true,
        "subMatches" : [ {
          "matchAllPoints" : [[[-1,1],"NotEqualsSelf"],[[0, 1],"EqualsSelf"],[[-1,0],"EqualsSelf"]],
          "pieces" : [["innerTL",[0,4]]] } ] },
        
      { "pieces" : [["center", [0, 0]]] },
      
      { "matchAllPoints" : [[[0,1], "NotEqualsSelf"]],
        "pieces" : [["straitHT", [0,4]]] },
      { "matchAllPoints" : [[[0,-1], "NotEqualsSelf"]],
        "pieces" : [["straitHB", [0,0]]] },
      { "matchAllPoints" : [[[-1,0], "NotEqualsSelf"]],
        "pieces" : [["straitVL", [0,0]]] },
      { "matchAllPoints" : [[[1,0], "NotEqualsSelf"]],
        "pieces" : [["straitVR", [4,0]]] },
        
      { "matchAllPoints" : [[[-1,0],"NotEqualsSelf"],[[0, 1],"NotEqualsSelf"]],
        "pieces" : [["outerTL",[0,4]]] },
      { "matchAllPoints" : [[[ 1,0],"NotEqualsSelf"],[[0, 1],"NotEqualsSelf"]],
        "pieces" : [["outerTR",[4,4]]] },
      { "matchAllPoints" : [[[-1,0],"NotEqualsSelf"],[[0,-1],"NotEqualsSelf"]],
        "pieces" : [["outerBL",[0,0]]] },
      { "matchAllPoints" : [[[ 1,0],"NotEqualsSelf"],[[0,-1],"NotEqualsSelf"]],
        "pieces" : [["outerBR",[4,0]]] },
        
      { "matchAllPoints" : [[[-1,1],"NotEqualsSelf"],[[0, 1],"EqualsSelf"],[[-1,0],"EqualsSelf"]],
        "pieces" : [["innerTL",[0,4]]] },
      { "matchAllPoints" : [[[ 1,1],"NotEqualsSelf"],[[0, 1],"EqualsSelf"],[[ 1,0],"EqualsSelf"]],
        "pieces" : [["innerTR",[4,4]]] },
      { "matchAllPoints" : [[[-1,-1],"NotEqualsSelf"],[[0,-1],"EqualsSelf"],[[-1,0],"EqualsSelf"]],
        "pieces" : [["innerBL",[0,0]]] },
      { "matchAllPoints" : [[[ 1,-1],"NotEqualsSelf"],[[0,-1],"EqualsSelf"],[[ 1,0],"EqualsSelf"]],
        "pieces" : [["innerBR",[4,0]]] }
    ]]
  ]
}
